@import './mixins.styl'

.home-footer
  z-index 100
  position fixed
  height 55px
  background #eee
  bottom 0
  left 0;
  right 0;
  display flex
  >.footer-item
    flex 1
    display flex
    flex-flow column
    justify-content center
    align-items center
    color #aaa
    .iconfont
      font-size 25px
    .text
      font-size 12px;
  .footer-item.current
    color $green
