$green = #4abdac
$orange = #f7b733
$red = #fc4a1a
$gray = #dfdce3

clearFix()
  zoom:1
  &::after
    content ''
    display block
    clear both

border-bottom-1px($color)
  position relative
  &::before
    content ''
    position absolute
    bottom 0
    left 0
    right 0
    height 1px
    background $color
    transform scaleY(.5)
    @media (-wibkit-device-pixel-ratio:3)
      transform scaleY(.3333)

bg-url($path)
  background-image url($path)

@keyframes blink {
  50%{
    background-position -42px 0;
  }
}
